/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
 /* max-height: 250px;*/
  }
  
.caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
	text-align:center;
}

  
/*////////caption/////////////*/
 
 .rslides_nav 
 {

	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
    text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/themes.gif") no-repeat left top;

}
  
.rslides_nav.next 
{
    left: auto;
    background-position: right top;
    right: 0;
	 display: block;
    position: relative;
    margin-top: -132px;
    float: right;
}

.rslides_nav.prev
{

    display: block;
    position: relative;
    margin-top: -132px;
    float: left;

}
  
  
/*//////////end caption///////////*/

/*////////// tabs///////////*/

.slider-pager {
  list-style: none;
  padding: 0;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }
  
 .slider-pager  li
 {
	display:inline;
 }
 .slider-pager  li img
 {
	width: 55px;
 }
/*////////// tabs///////////*/
